.root {
    -fx-font-family: "Bookman Old Style";
    -fx-font-size: 16px;
    -fx-background-color: #f4f7fb;
}

/* عنوان الصفحة */
.page-title {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #003366;
}

/* الكارد الرئيسي */
.content-card {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-padding: 25;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 12, 0, 0, 3);
}
/* الشريط الجانبي */
.sidebar {
-fx-background-color: #0f3460;
-fx-padding: 12px;
}

.logo-text {
-fx-text-fill: white;
-fx-font-size: 34px;
-fx-font-weight: bold;
}

.logo-subtext {
-fx-text-fill: #d6e4f0;
-fx-font-size: 16px;
}

.sidebar-btn {
-fx-background-color: transparent;
-fx-text-fill: white;
-fx-font-size: 16px;
-fx-cursor: hand;
-fx-background-radius: 8px;
}

.sidebar-btn:hover {
-fx-background-color: #1b4f8a;
}

.sidebar-btn-active {
-fx-background-color: #082032;
-fx-text-fill: white;
-fx-font-size: 16px;
-fx-font-weight: bold;
-fx-background-radius: 8px;
}

/* عنوان القسم */
.section-title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #003366;
}

/* Labels */
.input-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

/* Password Fields */
.password-input {
    -fx-background-color: white;
    -fx-border-color: #cfd8dc;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 12;
    -fx-font-size: 16px;
}

.password-input:focused {
    -fx-border-color: #003366;
    -fx-border-width: 2;
}

/* زر تغيير كلمة المرور */
.btn-primary {
    -fx-background-color: #003366;
    -fx-text-fill: white;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-padding: 12 25;
    -fx-cursor: hand;
}

.btn-primary:hover {
    -fx-background-color: #002244;
}

/* زر Reset */
.btn-secondary {
    -fx-background-color: white;
    -fx-border-color: #003366;
    -fx-text-fill: #003366;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 12 25;
    -fx-cursor: hand;
}

.btn-secondary:hover {
    -fx-background-color: #eef5ff;
}

/* صندوق التنبيه */
.security-box {
    -fx-background-color: #eaf2ff;
    -fx-background-radius: 12;
    -fx-padding: 15;
}

.security-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #003366;
}

.security-text {
    -fx-font-size: 15px;
    -fx-text-fill: #555555;
}

/* Footer */
.footer-bar {
    -fx-background-color: #e6eef8;
    -fx-background-radius: 10;
    -fx-padding: 10;
}

.footer-text {
    -fx-font-size: 15px;
    -fx-text-fill: #003366;
}